@model PL.ViewModels.User.RegisterViewModel
<h2>Регистрация</h2>
<form method="post" asp-controller="Auth" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" type="email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <input type="submit" value="Регистрация" class="btn-danger" />
    </div>
</form>
<div>Уже зарегистрированы? <a asp-controller="Auth" asp-action="Login">Войти</a></div>